# Creacion de un dataframe

In [16]:
import pandas as pd #Creacion del dataframe

frame={"Municipio":["Medellin","Bello","Sabaneta","Envigado"],"Año":["2022","2022","2022","2022"],"Poblacion":[2600000,533973,43357,232854]}

frame=pd.DataFrame(frame)

In [17]:
frame

  Municipio   Año  Poblacion
0  Medellin  2022    2600000
1     Bello  2022     533973
2  Sabaneta  2022      43357
3  Envigado  2022     232854

In [13]:
reales=pd.DataFrame(frame,columns=["Año","Poblacion","Municipio"]) #Crear un dataframe con columnas en diferente orden a partir de otra
     
reales

    Año  Poblacion Municipio
0  2021    2600000  Medellin
1  2022     533973     Bello
2  2023      43357  Sabaneta
3  2024     232854  Envigado

In [19]:
new_frame=pd.DataFrame(frame, columns=["Municipio","Año","Poblacion","Estrato promedio"])

new_frame

  Municipio   Año  Poblacion  Estrato promedio
0  Medellin  2022    2600000               NaN
1     Bello  2022     533973               NaN
2  Sabaneta  2022      43357               NaN
3  Envigado  2022     232854               NaN

In [23]:
new_frame["Estrato promedio"]=[3,2,4,5]

new_frame

  Municipio   Año  Poblacion  Estrato promedio
0  Medellin  2022    2600000                 3
1     Bello  2022     533973                 2
2  Sabaneta  2022      43357                 4
3  Envigado  2022     232854                 5