# Creacion de un dataframe

In [95]:
import pandas as pd #Creacion del dataframe

frame={"Municipio":["Medellin","Bello","Sabaneta","Envigado"],"Año":["2022","2022","2022","2022"],"Poblacion":[2600000,533973,43357,232854]}

frame=pd.DataFrame(frame)

frame

  Municipio   Año  Poblacion
0  Medellin  2022    2600000
1     Bello  2022     533973
2  Sabaneta  2022      43357
3  Envigado  2022     232854

In [96]:
import numpy as np

time_intervale=np.linspace(0,2*np.pi,10)

#Aqui se hace uno de sola fila y por eso se coloca sin [ ] lo de abajo

dataframe_phi={"Valores_phi":time_intervale}

dataframe_phi=pd.DataFrame(dataframe_phi)

dataframe_phi

   Valores_phi
0     0.000000
1     0.698132
2     1.396263
3     2.094395
4     2.792527
5     3.490659
6     4.188790
7     4.886922
8     5.585054
9     6.283185

In [97]:
reales=pd.DataFrame(frame,columns=["Año","Poblacion","Municipio"]) #Crear un dataframe con columnas en diferente orden a partir de otra
     
reales

    Año  Poblacion Municipio
0  2022    2600000  Medellin
1  2022     533973     Bello
2  2022      43357  Sabaneta
3  2022     232854  Envigado

In [98]:
new_frame=pd.DataFrame(frame, columns=["Municipio","Año","Poblacion","Estrato promedio"])

new_frame

  Municipio   Año  Poblacion  Estrato promedio
0  Medellin  2022    2600000               NaN
1     Bello  2022     533973               NaN
2  Sabaneta  2022      43357               NaN
3  Envigado  2022     232854               NaN

In [99]:
new_frame["Estrato promedio"]=[3,2,4,5]

new_frame

  Municipio   Año  Poblacion  Estrato promedio
0  Medellin  2022    2600000                 3
1     Bello  2022     533973                 2
2  Sabaneta  2022      43357                 4
3  Envigado  2022     232854                 5

In [100]:
#Unir varios dataframes en uno solo


prueba=pd.concat([new_frame,dataframe_phi],axis=1) #Muy importante poner la coma

prueba

  Municipio   Año  Poblacion  Estrato promedio  Valores_phi
0  Medellin  2022  2600000.0               3.0     0.000000
1     Bello  2022   533973.0               2.0     0.698132
2  Sabaneta  2022    43357.0               4.0     1.396263
3  Envigado  2022   232854.0               5.0     2.094395
4       NaN   NaN        NaN               NaN     2.792527
5       NaN   NaN        NaN               NaN     3.490659
6       NaN   NaN        NaN               NaN     4.188790
7       NaN   NaN        NaN               NaN     4.886922
8       NaN   NaN        NaN               NaN     5.585054
9       NaN   NaN        NaN               NaN     6.283185

In [107]:
import pandas as pd

# Crear un dataframe de ejemplo
new_Row = pd.DataFrame([['Angelopolis',2020, 1000, 3.0,0]],columns= prueba.columns) #Tener en cuenta mas corchetes para la asignacion de esta columna nueva

prueba_Final=pd.concat([prueba,new_Row],axis=0) #Tener le axis en cuenta segun las nuevas columnas o filas requeridas

prueba_Final

     Municipio   Año  Poblacion  Estrato promedio  Valores_phi
0     Medellin  2022  2600000.0               3.0     0.000000
1        Bello  2022   533973.0               2.0     0.698132
2     Sabaneta  2022    43357.0               4.0     1.396263
3     Envigado  2022   232854.0               5.0     2.094395
4          NaN   NaN        NaN               NaN     2.792527
5          NaN   NaN        NaN               NaN     3.490659
6          NaN   NaN        NaN               NaN     4.188790
7          NaN   NaN        NaN               NaN     4.886922
8          NaN   NaN        NaN               NaN     5.585054
9          NaN   NaN        NaN               NaN     6.283185
0  Angelopolis  2020     1000.0               3.0     0.000000

In [109]:
prueba_Final.at[4,'Municipio']='Ciudad Gotica' #Insertar o modificar un elemento del dataframe

prueba_Final

,Municipio,Año,Poblacion,Estrato promedio,Valores_phi,"(4, Municipio)"
0,Medellin,2022,2600000.0,3.0,0.000000,Ciudad Gotica
1,Bello,2022,533973.0,2.0,0.698132,Ciudad Gotica
2,Sabaneta,2022,43357.0,4.0,1.396263,Ciudad Gotica
3,Envigado,2022,232854.0,5.0,2.094395,Ciudad Gotica
4,Ciudad Gotica,NaN,NaN,NaN,2.792527,Ciudad Gotica
5,NaN,NaN,NaN,NaN,3.490659,Ciudad Gotica
6,NaN,NaN,NaN,NaN,4.188790,Ciudad Gotica
7,NaN,NaN,NaN,NaN,4.886922,Ciudad Gotica
8,NaN,NaN,NaN,NaN,5.585054,Ciudad Gotica
9,NaN,NaN,NaN,NaN,6.283185,Ciudad Gotica
0,Angelopolis,2020,1000.0,3.0,0.000000,Ciudad Gotica